@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@model SvarnyJunak.CeskeObce.Web.Models.MunicipalityPopulationProgressModel

@{
    ViewData["Title"] = Model.Municipality.Name + " - " + Localizer["MunicipalityPopulationTitle"].Value;
    var url = ViewData["CanonicalUrl"];
    var title = $"Počet obyvatel v obci {Model.Municipality.Name}";
    var minYear = Model.PopulationProgress.Min(p => p.Year);
    var maxYear = Model.PopulationProgress.Max(p => p.Year);
    var description = $"Vývoj počtu obyvatel v letech {minYear} až {maxYear}.";
    var timeCovereage = $"{minYear} - {maxYear}";
}

@section metadata
{
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="/images/preview.png" />
    <link rel="canonical" href="@url" />

    <script type="application/ld+json">
        {
          "@@context" : "http://schema.org",
          "@@type" : "Dataset",
          "name" : "@title",
          "description" : "@description",
          "temporalCoverage" : "2004 - 2021",
          "datePublished" : "@DateTime.Today.Year-05-01"
        }
</script>
}

<form id="select-municipality-form" asp-controller="Home" asp-action="SelectMunicipality" method="POST">
    <label for="municipalityName">
        @Localizer["MunicipalitySearchLabel"]
    </label><br />
    <input type="hidden" name="currentMunicipalityCode" value="@Model.Municipality.MunicipalityId" />
    <input id="municipality-search" type="text" name="municipalityName" value="@Model.MunicipalityNameSearch" />

    <div asp-validation-summary="All"></div>

    @{
        var numberFormat = new System.Globalization.CultureInfo("en-US").NumberFormat;
        <input type="hidden" id="Municipality_Latitude" value="@Model.Municipality.Latitude.ToString(numberFormat)" />
        <input type="hidden" id="Municipality_Longitude" value="@Model.Municipality.Longitude.ToString(numberFormat)" />
    }
</form>

<h1>@String.Format(Localizer["PopulationProgressInMunicipality"].Value, Model.Municipality.Name, @Model.Municipality.DistrictName)</h1>
<div class="grid">
    <main>
        <div class="chart">

        </div>

        <table class="data-population-progress chart">
            <thead>
                <tr>
                    <th>@Localizer["Year"]</th>
                    <th>@Localizer["Population"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var snapshot in Model.PopulationProgress)
                {
                    <tr>
                        <td class="year year-caption">@snapshot.Year</td>
                        <td class="count">
                            <span class="bar">
                                @snapshot.Count.ToString("### ### ###")
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <div class="fb-share-button" data-layout="button" data-size="large" data-href="@url">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@url&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Sdílet na Facebooku</a>
            </div>
        </p>
    </main>

    <div id="map-canvas-container">

        <div id="map-canvas">
        </div>
    </div>
</div>
<div id="fb-root"></div>

@section scripts {
    <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>

    <environment names="Development">
        <script src="~/lib/pixabay-autocompleted/auto-complete.js" asp-append-version="true"></script>
        <script src="~/js/search.js" asp-append-version="true"></script>
        <script src="~/js/chart.js" asp-append-version="true"></script>
        <script src="~/js/map.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v10.0" nonce="IVdFEGjp"></script>
}

