@using Microsoft.AspNetCore.Mvc.Localization;
@using SvarnyJunak.CeskeObce.Web.Utils;

@inject IViewLocalizer Localizer
@model SvarnyJunak.CeskeObce.Web.Models.MunicipalityPopulationProgressModel

@{
    var url = ViewData["CanonicalUrl"];
    var title = Model.Municipality.Name + " - " + Localizer["MunicipalityPopulationTitle"].Value;
    var minYear = Model.PopulationProgress.Min(p => p.Year);
    var maxYear = Model.PopulationProgress.Max(p => p.Year);
    var allYears = String.Join(", ", Model.PopulationProgress.OrderBy(p => p.Year).Select(p => p.Year.ToString("0000")));
    var description = String.Format(Localizer["MunicipalityPopulationDescription"].Value, Model.Municipality.Name, Model.Municipality.DistrictName, allYears);
    var timeCovereage = $"{minYear} - {maxYear}";

    ViewData["Title"] = title;
    ViewData["MetaDescription"] = description;
}

@section metadata
{
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="/images/preview.png" />
    <link rel="canonical" href="@url" />
}

<form id="select-municipality-form" asp-controller="Home" asp-action="SelectMunicipality" method="POST">
    <label for="municipality-search">
        @Localizer["MunicipalitySearchLabel"]
    </label><br />
    <input type="hidden" name="currentMunicipalityCode" value="@Model.Municipality.MunicipalityId" />
    <input id="municipality-search" type="text" name="municipalityName" value="@Model.MunicipalityNameSearch" />
    <input type="submit" value="Vyhledat" />
    <div asp-validation-summary="All"></div>

    @{
        var numberFormat = new System.Globalization.CultureInfo("en-US").NumberFormat;
        <input type="hidden" id="Municipality_Latitude" value="@Model.Municipality.Latitude.ToString(numberFormat)" />
        <input type="hidden" id="Municipality_Longitude" value="@Model.Municipality.Longitude.ToString(numberFormat)" />
        <input type="hidden" id="Municipality_Name" value="@Model.Municipality.Name" />
    }
</form>

<h1>@String.Format(Localizer["PopulationProgressInMunicipality"].Value, Model.Municipality.Name, @Model.Municipality.DistrictName)</h1>
<div class="grid">
    <main>
        <div class="chart">

        </div>

        <table class="data-population-progress chart">
            <thead>
                <tr>
                    <th>@Localizer["Year"]</th>
                    <th>@Localizer["Population"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var snapshot in Model.PopulationProgress)
                {
                    <tr>
                        <td class="year year-caption">@snapshot.Year</td>
                        <td class="count">
                            <span class="bar">
                                @snapshot.Count.ToString("### ### ###")
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="labels">
            @{
                var municipalities = Model.ClosestMunicipalities;
                var lastButOne = municipalities.Skip(Model.ClosestMunicipalities.Length - 2).First();
                var last = Model.ClosestMunicipalities.Last();

                <text>Zaujalo vás? Podívejte se kolik obyvatel mají obce </text>

                foreach (var municipality in municipalities)
                {
<a href="@UrlUtils.CreateRelativeUrl(municipality)" class="label">@municipality.Name</a>if (municipality == lastButOne)
                    { 
<text> nebo </text> 
                    }
                    else if (municipality != last)
                    { 
<text>, </text> 
                    }
                }
            }

        </div>

    </main>

    <div id="map-canvas-container">

        <div id="map-canvas">
        </div>
    </div>
</div>
<div id="fb-root"></div>

@section scripts {
    <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>

    <environment names="Development">
        <script src="~/lib/pixabay-autocompleted/auto-complete.js" asp-append-version="true"></script>
        <script src="~/js/search.js" asp-append-version="true"></script>
        <script src="~/js/chart.js" asp-append-version="true"></script>
        <script src="~/js/map.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
}

