@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer
@model SvarnyJunak.CeskeObce.Web.Models.MunicipalityPopulationProgressModel

@{
    ViewData["Title"] = Model.Municipality.Name + " - " + Localizer["MunicipalityPopulationTitle"].Value;
}

<form id="select-municipality-form" asp-controller="Home" asp-action="SelectMunicipality" method="POST">
    <label for="municipalityName">
        @Localizer["MunicipalitySearchLabel"]
    </label><br />
    <input type="hidden" name="currentMunicipalityCode" value="@Model.Municipality.MunicipalityId" />
    <input id="municipality-search" type="text" name="municipalityName" value="@Model.MunicipalityNameSearch" />

    <div asp-validation-summary="All"></div>

    @{
        var numberFormat = new System.Globalization.CultureInfo("en-US").NumberFormat;
        <input type="hidden" id="Municipality_Latitude" value="@Model.Municipality.Latitude.ToString(numberFormat)" />
        <input type="hidden" id="Municipality_Longitude" value="@Model.Municipality.Longitude.ToString(numberFormat)" />
    }
</form>

<h1>@String.Format(Localizer["PopulationProgressInMunicipality"].Value, Model.Municipality.Name, @Model.Municipality.DistrictName)</h1>
<div class="grid">
    <main>
        <div class="chart">

        </div>

        <table class="data-population-progress">
            <thead>
                <tr>
                    <th>@Localizer["Year"]</th>
                    <th>@Localizer["Population"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var snapshot in Model.PopulationProgress)
                {
                    <tr>
                        <td class="year">@snapshot.Year</td>
                        <td class="count">@snapshot.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </main>

    <div id="map-canvas-container">

        <div id="map-canvas">
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>

    <environment names="Development">
        <script src="~/lib/pixabay-autocompleted/auto-complete.js" asp-append-version="true"></script>
        <script src="~/js/search.js" asp-append-version="true"></script>
        <script src="~/js/chart.js" asp-append-version="true"></script>
        <script src="~/js/map.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
}

