@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SvarnyJunak.CeskeObce.Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/pixabay-autocompleted/auto-complete.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("head", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")"><h2>Obyvatelé česka</h2></a>
        <nav class="right">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
